.contact {
  padding: 80px 20px;
  text-align: center;
  background-color: white;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.contact-container {
  max-width: 700px;
  margin: auto;
}

.contact-info {
  margin: 20px 0;
  font-size: 15px;
}

.contact-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-links a {
  text-decoration: none;
  padding: 10px 18px;
  background-color: #111;
  color: white;
  border-radius: 6px;
  transition: 0.3s ease;
}

.contact-links a:hover {
  background-color: #00bcd4;
}
