.projects {
  padding: 100px 20px;
  background: linear-gradient(
    135deg,
    #f8fbff,
    #eef3f9
  );
  text-align: center;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 600;
}


.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.project-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  text-align: left;
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}



.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.4s ease;
}

.project-card img:hover {
  transform: scale(1.05);
}


.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.project-card span {
  font-size: 13px;
  font-weight: bold;
  color: #00bcd4;
}

.project-links {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.project-links a {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 13px;
  background-color: #111;
  color: white;
  transition: 0.3s ease;
}

.project-links a:hover {
  background-color: #00bcd4;
}
.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 229, 255, 0.2);
}
