.skills {
  padding: 80px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.skills h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.skill-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-align: left;
}


.skill-box h3 {
  margin-bottom: 15px;
  color: #00bcd4;
}

.skill-box ul {
  list-style: none;
}

.skill-box li {
  margin-bottom: 8px;
  font-size: 14px;
}
